[submodule "rest_server"]
	path = rest_server
	url = https://github.com/dimon12345/telemetry_rest_server
[submodule "mqtt_subscriber"]
	path = mqtt_subscriber
	url = https://github.com/dimon12345/telemetry_mqtt_subscriber
[submodule "android"]
	path = android
	url = https://github.com/dimon12345/telemetry_android
[submodule "pygui"]
	path = pygui
	url = https://github.com/dimon12345/telemetry_pygui
